@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

$headerFont:'Josefin Slab';
$textFont:'Josefin Sans';
$lightFontColor:#E5E5E5;
$darkFontColor:#3A383B;

@function contrastingColor($bgcolor){
  @if lightness($bgcolor) < 35 {
    @return $lightFontColor;
  }
  @else {@return $darkFontColor;
  }
}

@mixin backgroundToFont($background) {
  color:contrastingColor($background);
  background-color:$background;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: url("http://i.imgur.com/LtEagrn.jpg") no-repeat center center fixed;
  // opacity: 0.2;
  background-size: cover;
  overflow: auto;
}

main {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6)
}

.data-container {
  padding-top: 7%;
}

.player-card-title {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.3em;
  color:$darkFontColor;
  background: linear-gradient(rgba(225,225,225,0.9), rgba(225,225,225,0.5));
}

h2, h3 {
  margin: 0;
  font-family: $headerFont;
  color: $lightFontColor;
}

h3 {
  font-size: 1.2em;
}

.index-title {
  font-size: 2em;
  padding-top: 15%;
}

.results {
  padding-top: 2%;
  color: white;
  padding-bottom: 2%;
}

.results h3 {
  font-size: 1.5em;
}

.league-name {
  margin: 0;
  color: white;
  padding-top: 2%;
}

nav {
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 2em;
  list-style-type: none;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0, 0, 0,0.7);
  top:0;
}

nav a {
  font-family: $headerFont;
  color: $lightFontColor;
  text-decoration: none;
}

.filter {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: $textFont;
  color: $lightFontColor;
  text-decoration: none;
  font-size: 1.2em;
}

.league-form,.view-frame {
  text-align: center;
  margin: 0 auto;
}

.chart,.bubble {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
}

.chart {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 75%;
  margin-left: 12.5%;
}

.bar {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  font: 10px sans-serif;
  // background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin: 5px;
  color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.bar:hover {
  opacity: 0.6;
}

.popup {
  color: white;
}

.bubble {
  width: 75%;
  margin-bottom: 5%;
}

.circle:hover{
  fill-opacity: 0.6;
}

.player-card {
  margin: 1%;
  text-decoration: none;
  color:$lightFontColor;
  background: linear-gradient(to top, rgba(225,225,225,0.9), rgba(225,225,225,0.5));
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

.player-card:hover {
  box-shadow: 5px 5px 5px 0px rgba(255,255,255,0.8);
}

.player-link,.player-card p {
  text-decoration: none;
  color:$darkFontColor;
  font-family: $textFont;
}

.player-link:hover {
  color:tomato;
}

.single-player {
  padding-top: 15%;
}

.playerDiv {
  margin: 0 auto;
  color:$lightFontColor;
  background-color: rgba(0, 0, 0,0.8);
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.player-show-image {
  width: 20%;
}

.comment-section {
  padding-top: 2%;
  background-color: white;
  text-decoration: none;
  padding-bottom: 3%;
}

.comment-section h2 {
  padding-top: 1%;
}

.comment-section h2, .comment-section div, .comment-section a {
  font-family: $textFont;
  color: $darkFontColor;
  text-decoration: none;
}

#yahoo-login {
  width: 25%;
}

.column {
  // border: 2px solid tomato;
  /*display: inline-block;*/
  float: left;
  border-radius: 5px;
  text-align: center;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row,.column {
  box-sizing: border-box;
}

.column-1 { width: 6.333%; }
.column-2 { width: 14.66%; }
.column-3 { width: 23%; }
.column-4 { width: 31.33%; }
.column-5 { width: 39.66%; }
.column-6 { width: 48%; }
.column-7 { width: 56.33%; }
.column-8 { width: 64.66%; }
.column-9 { width: 73%; }
.column-10 { width: 81.33%; }
.column-11 { width: 89.66%; }
.column-12 { width: 98%; }

.middle > .column {
  height: 400px;
  line-height: 400px;
}

.header > .column,
.footer > .column {
  padding: 25px;
}

.header ul {
  margin: auto;
}

.header li {
  display: inline-block;
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  .column {
    margin: 1% 0 1% 0%;
    width: 100%;
  }
}

.show-comments {
  margin: 0 auto;
  margin-top: 20%;
  padding-top: 10%;
  width: 25%;
  color: $darkFontColor;
  background: linear-gradient(to top, rgba(225,225,225,0.8), rgba(225,225,225,0.3));
}

.show-comments h2, .show-comments blockquote {
  color: $darkFontColor;
  font-size: 1.5em;
}

@media only screen and (max-width: 568px) {
  body {
    font-size: .8em;
  }
  .index-title,nav {
    font-size: 1.7em;
  }
  .aboutMe h1, .portfolio h1, .experience h1, .contact h1 {
    font-size: 2em;
  }
  .results h3 {
    font-size: 1.3em;
  }
  .filter {
    font-size: 1em;
  }
}
