@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

$headerFont:'Playball';
$textFont:'Josefin Sans';
$lightFontColor:#E5E5E5;
$darkFontColor:#3A383B;
$colorPrimary:#d62d34;
$colorSecondary: #ddd944;
$colorTertiary: #126EA8;
$colorWhite:#fff;
$buttonBorderRadius: 1em;
$num-colors: 100;
$base-color: $colorPrimary;
$spectrum: 330deg;
$offset: 0deg;


@function contrastingColor($bgcolor){
  @if lightness($bgcolor) < 35 {
    @return $lightFontColor;
  }
  @else {@return $darkFontColor;
  }
}

@mixin backgroundToFont($background) {
  color:contrastingColor($background);
  background-color:$background;
}

@for $i from 0 to $num-colors {
  .color-#{$i} {
    $adjusted-color: adjust-hue($base-color, $offset - $spectrum / $num-colors * $i);

    &.bar {
      background: $adjusted-color;
    }
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: $textFont;
  overflow: auto;
  background: url("http://i.imgur.com/LtEagrn.jpg") no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
}

.visuals{
  color: $colorPrimary;
}

.container {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6)
}

.data-container {
  padding-top: 7%;
}

.league-search,.comment-form {
  font-family: $textFont;
  max-width: 85%;
  width: 20em;
  border-radius: $buttonBorderRadius;
  margin-top: 1%;
  margin-bottom: 1%;
  border: none;
  font-size: 1.15em;
  padding: 1em 1.25em;
}

.league-search {
  margin: 0.5em 0;
  background: fade-out($colorWhite, 0.67);
  transition: all ease 0.33s;

  &:focus {
    background: fade-out($colorWhite, 0.25);
  }
}

:placeholder-shown {
  color: $colorWhite;
}

::-webkit-input-placeholder {
  color: $colorWhite;
}

::-moz-placeholder {
  color: $colorWhite;
}

.search-link,.comment-form-submit, .chart-buttons {
  font-family: $textFont;
  font-size: 1.15em;
  border: none;
  border-radius: $buttonBorderRadius;
  background: $colorPrimary;
  color: $lightFontColor;
  padding: 0.67em;
  margin: 0.67em auto;
  display: block;
  text-decoration: none;
  transition: background ease 0.33s;

  &:hover {
    background: darken($colorPrimary,15%);
  }
}

.chart-button-row {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.search-link,.comment-form-submit {
  max-width: 85%;
  width: 20em;
}

.chart-buttons {
  margin: 0 auto;
  width: 67%;
}

.comment-form {
  color: $darkFontColor;
  margin: 0;
  background: $colorWhite;
  transition: all ease 0.33s;

  &:placeholder-shown {
    color: #333;
  }

  &::-webkit-input-placeholder {
    color: #333;
  }

  &::-moz-placeholder {
    color: #333;
  }
}

h2, h3 {
  margin: 0;
  font-family: $headerFont;
  color: $lightFontColor;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
}

.index-title {
  font-size: 2em;
  padding-top: 10%;
  margin: 0.5em 0 0.75em;
}

.results {
  padding-top: 2%;
  color: white;
  padding-bottom: 2%;
}

.player-card-title,.results h3 {
  font-size: 3em;
}

.league-name {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 1.85em;
  margin: 0.5em 10% 1.5em;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: left;
}

nav {
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 2em;
  list-style-type: none;
  text-decoration: none;
  margin: 0 auto;
  background-color: rgba(255, 255, 255,0.975);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  top:0;
  z-index: 1;
}

nav a {
  font-family: $headerFont;
  color: $darkFontColor;
  text-decoration: none;
  padding:0.25em 0 0.15em;
  display: block;
}

.filter {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: $textFont;
  color: $lightFontColor;
  text-decoration: none;
  font-size: 1.2em;
}

.filter label {
  display: block;
  font-size: 0.85em;
  text-align: left;
}
.filter select {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  width: 100%;
}

.filter select option {
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

.league-form,.view-frame {
  text-align: center;
  margin: 0 auto;
}

.html-chart {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 75%;
  margin-left: 12.5%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.chart,.bubble {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
}

// .chart {
//   padding-top: 1%;
//   padding-bottom: 1%;
//   width: 75%;
//   margin-left: 12.5%;
// }

.bar {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  font: 10px sans-serif;
  // background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin: 5px;
  color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.bar:hover {
  opacity: 0.6;
}

.popup {
  color: white;
}

.bubble {
  width: 75%;
  margin-bottom: 2.5%;
}

.circle:hover{
  fill-opacity: 0.6;
}

.player-card {
  background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  color: $lightFontColor;
  margin: 1%;
  padding: 0.5em;
  position: relative;
  text-decoration: none;
  transition: all ease 0.33s;
  top: 0;
  transform: none;
}
.player-card:hover {
  top: -0.4em;
  transform: scale(1.05,1.05);
}
.player-card::before {
  background: #d62d34 none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 4em;
  left: calc(50% - 2em);
  position: absolute;
  width: 4em;
}

.player-profile-pic {
  position: relative;
  border-radius: 50%;
}

.player-link,.player-card p {
  text-decoration: none;
  color:$darkFontColor;
  font-family: $textFont;
}

.player-link,.player-price {
  font-size: 1.3em;
  color: #d62d34;
}

.player-link:hover {
  color:blue;
}

.single-player {
  padding-top: 15%;
}

.playerDiv {
  margin: 0 auto;
  color:$lightFontColor;
  background-color: rgba(0, 0, 0,0.8);
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.player-show-image {
  width: 20%;
}

.comment-section {
  margin-top: 2.5%;
  padding-top: 2%;
  background-color: rgba(255,255,255,0.9);
  text-decoration: none;
  padding-bottom: 3%;
}

.comment-section h2 {
  padding-top: 1%;
}

.comment-section p {
  background: #f9f9f9;
  display: inline-block;
  padding: 1em;
  margin: 0.75em;
  border-radius: 1em;
}

.comment-section h2, .comment-section div, .comment-section a {
  font-family: $textFont;
  color: $darkFontColor;
  text-decoration: none;
}

#yahoo-login {
  width: 25%;
}

.column {
  // border: 2px solid tomato;
  /*display: inline-block;*/
  float: left;
  border-radius: 5px;
  text-align: center;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row,.column {
  box-sizing: border-box;
}

.column-1 { width: 6.333%; }
.column-2 { width: 14.66%; }
.column-3 { width: 23%; }
.column-4 { width: 31.33%; }
.column-5 { width: 39.66%; }
.column-6 { width: 48%; }
.column-7 { width: 56.33%; }
.column-8 { width: 64.66%; }
.column-9 { width: 73%; }
.column-10 { width: 81.33%; }
.column-11 { width: 89.66%; }
.column-12 { width: 98%; }

.middle > .column {
  height: 400px;
  line-height: 400px;
}

.header > .column,
.footer > .column {
  padding: 25px;
}

.header ul {
  margin: auto;
}

.header li {
  display: inline-block;
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  .column {
    margin: 1% 0 1% 0%;
    width: 100%;
  }
}

.show-comments {
  margin: 0 auto;
  margin-top: 20%;
  padding-top: 10%;
  width: 25%;
  color: $darkFontColor;
  background: linear-gradient(to top, rgba(225,225,225,0.8), rgba(225,225,225,0.3));
}

.show-comments h2, .show-comments blockquote {
  color: $darkFontColor;
  font-size: 1.5em;
}

@media only screen and (max-width: 568px) {
  body {
    font-size: .8em;
  }
  .index-title,nav {
    font-size: 1.7em;
  }
  .results h3 {
    font-size: 1.3em;
  }
  .filter {
    font-size: 1em;
  }
}
