@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
.color-0.bar {
  background: #d62d34; }

.color-1.bar {
  background: #d62d3d; }

.color-2.bar {
  background: #d62d47; }

.color-3.bar {
  background: #d62d50; }

.color-4.bar {
  background: #d62d59; }

.color-5.bar {
  background: #d62d62; }

.color-6.bar {
  background: #d62d6c; }

.color-7.bar {
  background: #d62d75; }

.color-8.bar {
  background: #d62d7e; }

.color-9.bar {
  background: #d62d88; }

.color-10.bar {
  background: #d62d91; }

.color-11.bar {
  background: #d62d9a; }

.color-12.bar {
  background: #d62da4; }

.color-13.bar {
  background: #d62dad; }

.color-14.bar {
  background: #d62db6; }

.color-15.bar {
  background: #d62dbf; }

.color-16.bar {
  background: #d62dc9; }

.color-17.bar {
  background: #d62dd2; }

.color-18.bar {
  background: #d12dd6; }

.color-19.bar {
  background: #c72dd6; }

.color-20.bar {
  background: #be2dd6; }

.color-21.bar {
  background: #b52dd6; }

.color-22.bar {
  background: #ac2dd6; }

.color-23.bar {
  background: #a22dd6; }

.color-24.bar {
  background: #992dd6; }

.color-25.bar {
  background: #902dd6; }

.color-26.bar {
  background: #862dd6; }

.color-27.bar {
  background: #7d2dd6; }

.color-28.bar {
  background: #742dd6; }

.color-29.bar {
  background: #6a2dd6; }

.color-30.bar {
  background: #612dd6; }

.color-31.bar {
  background: #582dd6; }

.color-32.bar {
  background: #4f2dd6; }

.color-33.bar {
  background: #452dd6; }

.color-34.bar {
  background: #3c2dd6; }

.color-35.bar {
  background: #332dd6; }

.color-36.bar {
  background: #2d31d6; }

.color-37.bar {
  background: #2d3ad6; }

.color-38.bar {
  background: #2d43d6; }

.color-39.bar {
  background: #2d4dd6; }

.color-40.bar {
  background: #2d56d6; }

.color-41.bar {
  background: #2d5fd6; }

.color-42.bar {
  background: #2d68d6; }

.color-43.bar {
  background: #2d72d6; }

.color-44.bar {
  background: #2d7bd6; }

.color-45.bar {
  background: #2d84d6; }

.color-46.bar {
  background: #2d8ed6; }

.color-47.bar {
  background: #2d97d6; }

.color-48.bar {
  background: #2da0d6; }

.color-49.bar {
  background: #2da9d6; }

.color-50.bar {
  background: #2db3d6; }

.color-51.bar {
  background: #2dbcd6; }

.color-52.bar {
  background: #2dc5d6; }

.color-53.bar {
  background: #2dcfd6; }

.color-54.bar {
  background: #2dd6d4; }

.color-55.bar {
  background: #2dd6cb; }

.color-56.bar {
  background: #2dd6c1; }

.color-57.bar {
  background: #2dd6b8; }

.color-58.bar {
  background: #2dd6af; }

.color-59.bar {
  background: #2dd6a6; }

.color-60.bar {
  background: #2dd69c; }

.color-61.bar {
  background: #2dd693; }

.color-62.bar {
  background: #2dd68a; }

.color-63.bar {
  background: #2dd680; }

.color-64.bar {
  background: #2dd677; }

.color-65.bar {
  background: #2dd66e; }

.color-66.bar {
  background: #2dd665; }

.color-67.bar {
  background: #2dd65b; }

.color-68.bar {
  background: #2dd652; }

.color-69.bar {
  background: #2dd649; }

.color-70.bar {
  background: #2dd63f; }

.color-71.bar {
  background: #2dd636; }

.color-72.bar {
  background: #2dd62d; }

.color-73.bar {
  background: #37d62d; }

.color-74.bar {
  background: #40d62d; }

.color-75.bar {
  background: #49d62d; }

.color-76.bar {
  background: #52d62d; }

.color-77.bar {
  background: #5cd62d; }

.color-78.bar {
  background: #65d62d; }

.color-79.bar {
  background: #6ed62d; }

.color-80.bar {
  background: #78d62d; }

.color-81.bar {
  background: #81d62d; }

.color-82.bar {
  background: #8ad62d; }

.color-83.bar {
  background: #93d62d; }

.color-84.bar {
  background: #9dd62d; }

.color-85.bar {
  background: #a6d62d; }

.color-86.bar {
  background: #afd62d; }

.color-87.bar {
  background: #b9d62d; }

.color-88.bar {
  background: #c2d62d; }

.color-89.bar {
  background: #cbd62d; }

.color-90.bar {
  background: #d5d62d; }

.color-91.bar {
  background: #d6ce2d; }

.color-92.bar {
  background: #d6c52d; }

.color-93.bar {
  background: #d6bc2d; }

.color-94.bar {
  background: #d6b22d; }

.color-95.bar {
  background: #d6a92d; }

.color-96.bar {
  background: #d6a02d; }

.color-97.bar {
  background: #d6962d; }

.color-98.bar {
  background: #d68d2d; }

.color-99.bar {
  background: #d6842d; }

* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: auto; }

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans";
  overflow: auto;
  background: url("http://i.imgur.com/LtEagrn.jpg") no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover; }

.visuals {
  color: #d62d34; }

.container {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }

.data-container {
  padding-top: 7%; }

.league-search, .comment-form {
  font-family: "Josefin Sans";
  max-width: 85%;
  width: 20em;
  border-radius: 1em;
  margin-top: 1%;
  margin-bottom: 1%;
  border: none;
  font-size: 1.15em;
  padding: 1em 1.25em; }

.league-search {
  margin: 0.5em 0;
  background: rgba(255, 255, 255, 0.33);
  transition: all ease 0.33s; }
  .league-search:focus {
    background: rgba(255, 255, 255, 0.75); }

:placeholder-shown {
  color: #fff; }

::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

.search-link, .comment-form-submit {
  border-radius: 1em; }

.chart-buttons-bubble {
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em; }

.chart-buttons-bar {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em; }

.search-link, .comment-form-submit, .chart-buttons {
  font-family: "Josefin Sans";
  font-size: 1.15em;
  border: none;
  background: #d62d34;
  color: #E5E5E5;
  padding: 0.67em;
  margin: 0.67em auto;
  display: block;
  text-decoration: none;
  transition: background ease 0.33s; }

.active {
  background: #63a313; }

.chart-button-row {
  width: 75%;
  margin-left: 12.5%; }

.chart-button-row div {
  width: 50%; }

.search-link, .comment-form-submit {
  max-width: 85%;
  width: 20em; }

.chart-buttons {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%; }

.comment-form {
  color: #3A383B;
  margin: 0;
  background: #fff;
  transition: all ease 0.33s; }
  .comment-form:placeholder-shown {
    color: #333; }
  .comment-form::-webkit-input-placeholder {
    color: #333; }
  .comment-form::-moz-placeholder {
    color: #333; }

h2, h3 {
  margin: 0;
  font-family: "Playball";
  color: #E5E5E5;
  font-weight: normal; }

h3 {
  font-size: 1.2em; }

.index-title {
  font-size: 2em;
  padding-top: 10%;
  margin: 0.5em 0 0.75em; }

.results {
  padding-top: 2%;
  color: white;
  padding-bottom: 2%; }

.player-card-title, .results h3 {
  font-size: 3em; }

.league-name {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 1.85em;
  margin: 0.5em 10% 1.5em;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: left; }

nav {
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 2em;
  list-style-type: none;
  text-decoration: none;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.975);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 1; }

nav a {
  font-family: "Playball";
  color: #3A383B;
  text-decoration: none;
  padding: 0.25em 0 0.15em;
  display: block; }

.filter {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: "Josefin Sans";
  color: #E5E5E5;
  text-decoration: none;
  font-size: 1.2em; }

.filter label {
  display: block;
  font-size: 0.85em;
  text-align: center; }

.filter select {
  font-family: "Josefin Sans";
  border: none;
  border-radius: 1em;
  background: #E5E5E5;
  color: #3A383B;
  padding: 2.5%;
  display: block;
  text-decoration: none;
  transition: background ease 0.33s;
  font-size: 0.8em; }

.filter select option {
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
  width: 100%; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.filter-dropdowns {
  margin: 0 auto;
  width: 75%; }

.league-form, .view-frame {
  text-align: center;
  margin: 0 auto; }

.html-chart {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 75%;
  margin-left: 12.5%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px; }

.chart, .bubble {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px; }

.bar {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  font: 10px sans-serif;
  text-align: right;
  padding: 10px;
  margin: 5px;
  color: white;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.bar:hover {
  opacity: 0.6; }

.popup {
  color: white; }

.bubble {
  width: 75%;
  margin-bottom: 2.5%; }

.circle:hover {
  fill-opacity: 0.6; }

.player-card {
  background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  color: #E5E5E5;
  margin: 1%;
  padding: 0.5em;
  position: relative;
  text-decoration: none;
  transition: all ease 0.33s;
  top: 0;
  transform: none; }

.player-card:hover {
  top: -0.4em;
  transform: scale(1.05, 1.05); }

.player-card::before {
  background: #d62d34 none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 4em;
  left: calc(50% - 2em);
  position: absolute;
  width: 4em; }

.player-profile-pic {
  position: relative;
  border-radius: 50%; }

.player-link, .player-card p {
  text-decoration: none;
  color: #3A383B;
  font-family: "Josefin Sans"; }

.player-link, .player-price {
  font-size: 1.3em;
  color: #d62d34; }

.player-link:hover {
  color: blue; }

.single-player {
  padding-top: 15%; }

.playerDiv {
  margin: 0 auto;
  color: #E5E5E5;
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.player-show-image {
  width: 20%; }

.comment-section {
  margin-top: 2.5%;
  padding-top: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  padding-bottom: 3%; }

.comment-section h2 {
  padding-top: 1%; }

.comment-section p {
  background: #f9f9f9;
  display: inline-block;
  padding: 1em;
  margin: 0.75em;
  border-radius: 1em; }

.comment-section h2, .comment-section div, .comment-section a {
  font-family: "Josefin Sans";
  color: #3A383B;
  text-decoration: none; }

#yahoo-login {
  width: 25%; }

.column {
  /*display: inline-block;*/
  float: left;
  border-radius: 5px;
  text-align: center; }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row, .column {
  box-sizing: border-box; }

.column-1 {
  width: 6.333%; }

.column-2 {
  width: 14.66%; }

.column-3 {
  width: 23%; }

.column-4 {
  width: 31.33%; }

.column-5 {
  width: 39.66%; }

.column-6 {
  width: 48%; }

.column-7 {
  width: 56.33%; }

.column-8 {
  width: 64.66%; }

.column-9 {
  width: 73%; }

.column-10 {
  width: 81.33%; }

.column-11 {
  width: 89.66%; }

.column-12 {
  width: 98%; }

.middle > .column {
  height: 400px;
  line-height: 400px; }

.header > .column,
.footer > .column {
  padding: 25px; }

.header ul {
  margin: auto; }

.header li {
  display: inline-block;
  list-style-type: none; }

@media only screen and (max-width: 480px) {
  .column {
    margin: 1% 0 1% 0%;
    width: 100%; } }
.show-comments {
  margin: 0 auto;
  margin-top: 20%;
  padding-top: 10%;
  width: 25%;
  color: #3A383B;
  background: linear-gradient(to top, rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.3)); }

.show-comments h2, .show-comments blockquote {
  color: #3A383B;
  font-size: 1.5em; }

@media only screen and (max-width: 568px) {
  body {
    font-size: .8em; }

  .index-title, nav {
    font-size: 1.7em; }

  .results h3 {
    font-size: 1.3em; }

  .filter {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
