<h2>{{LeagueShowViewModel}}</h2>
<!--
<div data-ng-repeat="result in LeagueShowViewModel.league.query.results.league.draft_results.draft_result">
<p>{{result.player_key}}</p>
</div> -->
<!-- <charter></charter> -->

<div data-ng-repeat="listed in PlayerShowViewModel.player">
  <img data-ng-src="{{listed.results.player.headshot.url}}" alt="" />
  <p>Name: {{listed.results.player.name.full}}</p>
  <p>Positions: {{listed.results.player.eligible_positions.position}}</p>
  <p>Stats for {{listed.results.player.player_stats.season}}:</p>
  <div data-ng-repeat="stat in PlayerShowViewModel.statistics">
    <div>{{stat.statName}}: {{stat.value}}</div>
  </div>
</div>
