<div ng-controller="LeagueShowController">
  <form name="roundDropdown">
    <label for="round"> Round: </label>
    <select name="round" id="round" ng-model="LeagueShowViewModel.playerList"  ng-if="dataHasLoaded">
      <option ng-repeat="listed in LeagueShowViewModel.playerList" value="{{listed.round}}">{{listed.round}}</option>
    </select>
  </form>
  <tt>round = {{listed.round}}</tt>
</div>

<div ng-controller="LeagueShowController">
  <form name="teamDropdown">
    <label for="teamKey"> teamKey: </label>
    <select name="teamKey" id="teamKey" ng-model="LeagueShowViewModel.playerList"  ng-if="dataHasLoaded">
      <option ng-repeat="listed in LeagueShowViewModel.playerList" value="{{listed.teamKey}}">{{listed.teamKey}}</option>
    </select>
  </form>
  <tt>teamKey = {{listed.teamKey}}</tt>
</div>

<div ng-controller="LeagueShowController">
  <form name="positionDropdown">
    <label for="position"> Position: </label>
    <select name="position" id="position" ng-model="LeagueShowViewModel.playerList"  ng-if="dataHasLoaded">
      <option ng-repeat="listed in LeagueShowViewModel.playerList" value="{{listed.position}}">{{listed.position}}</option>
    </select>
  </form>
  <tt>position = {{listed.position}}</tt>
</div>
