<div class = "row" ng-controller="LeagueShowController">
  <div class = "column column-4">
    <form name="roundDropdown">
      <label for="round"> Round: </label>
      <select name="round" id="round" ng-model="filterItem.resultsArray" ng-options="draft.round for draft in resultsArray" ng-if="contentDone">
      </select>
    </form>
    <tt>round = {{draft.round}}</tt>
  </div>

  <div class = "column column-4">
    <form name="teamDropdown">
      <label for="teamKey"> teamKey: </label>
      <select name="teamKey" id="teamKey" ng-model="filterItem.resultsArray" ng-options="draft.teamKey for draft in resultsArray" ng-if="contentDone">
      </select>
    </form>
    <tt>teamKey = {{draft.teamKey}}</tt>
  </div>

  <div class = "column column-4">
    <form name="positionDropdown">
      <label for="position"> Position: </label>
      <select name="position" id="position" ng-model="filterItem.resultsArray" ng-options="draft.position for draft in resultsArray" ng-if="contentDone">
      </select>
    </form>
    <tt>position = {{draft.position}}</tt>
  </div>
</div>
