<h2>{{league.query.results.league.name}}</h2>

<div>
  Player Draft Prices
  <bars-chart filter-round="filterRound.result" chart-data="resultsArray" ng-if="contentDone"></bars-chart>
</div>

  <div class = "row">
    <div class = "column column-4">
      <form name="roundDropdown">
        <label for="round"> Round: </label>
        <select name="round" id="round" ng-model="filterRound.result" ng-options="draft.round for draft in roundArray.rounds">
        </select>
      </form>
      <tt>round = {{filterRound.result.round}}</tt>
    </div>
  </div>

<div class="row">
  <div class = "column column-4" data-ng-repeat="listed in resultsArray | filter:customFilter">
    <img data-ng-src="{{listed.photo}}" alt="" />
    <p>Name: <a data-ui-sref="playerShow({id:listed.shortID})">{{listed.playerName}}</a></p>
    <p>Positions: {{listed.position}}</p>
    <p>Draft Round: {{listed.round}}</p>
    <p>Cost: {{listed.cost}}</p>
  </div>
</div>
