<div class="data-container">
  <h2 class = 'league-name'>{{league.query.results.league.name}}</h2>

  <div class = "row filter">
    <div class = "column column-6">
      <div>Filter by Round</div>
      <form name="roundDropdown">
        <label for="round"> Round: </label>
        <select name="round" id="round" ng-model="filterRound.result" ng-options="draft.round for draft in roundArray.rounds">
        </select>
      </form>
      <!-- <tt>round = {{filterRound.result.round}}</tt> -->
    </div>

    <div class = "column column-6">
      <div>Filter by Position</div>
      <form name="positionDropdown">
        <label for="position"> Position: </label>
        <select name="position" id="position" ng-model="filterPosition.result" ng-options="draft.position for draft in positionArray.positions">
        </select>
      </form>
      <!-- <tt>position = {{filterPosition.result.position}}</tt> -->
    </div>
  </div>

  <div class = "results">
    <h3>
      Player Draft Prices
    </h3>
    <bars-chart filter-round="filterRound.result" filter-position="filterPosition.result" chart-data="resultsArray" ng-if="contentDone"></bars-chart>
  </div>


  <div class="row">
    <h3 class = "player-card-title">
      Player Cards
    </h3>
    <div class = "column column-4 player-card" data-ng-repeat="listed in resultsArray | filter:positionFilter | filter:customFilter">
      <img data-ng-src="{{listed.photo}}" alt="" />
      <p>Name: <a class = "player-link" data-ui-sref="playerShow({id:listed.shortID})">{{listed.playerName}}</a></p>
      <p>Positions: {{listed.position}}</p>
      <p>Draft Round: {{listed.round}}</p>
      <p>Cost: {{listed.cost}}</p>
    </div>
  </div>
</div>

<div class = "comment-section">
  <h2>New Comment</h2>

  <div data-comment-form data-comment="newComment"></div>

  <h2>Comments</h2>

  <div data-ng-repeat="comment in commentsArray[0]">
    <p><a data-ui-sref="commentShow({id: comment._id})">{{comment.comment}}</a></p>
    <div data-ng-if="comment._id">
      <button type="button" data-comment="commentFunctions" data-ng-click="delete()">Delete</button>
    </div>
  </div>
</div>
