<div class="data-container">
  <h2 class = 'league-name'>{{league.query.results.league.name}}</h2>

  <div class = "row filter">
    <div class = "column column-6">
      <label>Filter by Round</label>

      <!-- <div class="wrapper-dropdown" ng-click="active = !active" ng-class="{'active': active, 'non-active': !active}">
        Pick Round
        <ul class = "dropdown" name="round" id="round" ng-model="filterRound.result">
          <li class = "round-option" data-ng-repeat="draft in roundArray.rounds">
            {{draft.round}}
          </li>
        </ul>
      </div> -->

      <form name="roundDropdown">
        <select class = "filter-dropdowns" name="round" id="round" ng-model="filterRound.result" ng-options="draft.round for draft in roundArray.rounds">
        </select>
      </form>
    </div>

    <div class = "column column-6">
      <label>Filter by Position</label>
      <form name="positionDropdown">
        <select class = "filter-dropdowns" name="position" id="position" ng-model="filterPosition.result" ng-options="draft.position for draft in positionArray.positions">
        </select>
      </form>
    </div>
  </div>

  <div class = "results">
    <h3>
      Player Draft Prices
    </h3>
    <div class = "row chart-button-row">
      <div class="column column-6">
        <button class = "chart-buttons chart-buttons-bubble" ng-click="clickBubble()" ng-class="{'active': bubbleChart}">Show Bubbles</button>
      </div>
      <div class="column column-6">
        <button class = "chart-buttons chart-buttons-bar" ng-click="clickBar()" ng-class="{'active': barChart}">Show Bars</button>
      </div>
    </div>
    <bar-chart ng-show = "bubbleChart" filter-round="filterRound.result" filter-position="filterPosition.result" chart-data="resultsArray" ng-if="contentDone"></bar-chart>
    <div ng-show = "barChart" class = "html-chart">
      <div data-ng-repeat="player in resultsArray | filter:positionFilter | filter:customFilter" class="bar color-{{player.cost}}" style="width: {{player.cost}}%">
        {{ player.playerName }} ${{player.cost}}
      </div>
    </div>
  </div>


  <div class="row">
    <h3 class = "player-card-title">
      Player Cards
    </h3>
    <div class = "column column-4 player-card" data-ng-repeat="listed in resultsArray | filter:positionFilter | filter:customFilter">
      <img class = "player-profile-pic" data-ng-src="{{listed.photo}}" alt="" />
      <p><a class = "player-link" data-ui-sref="playerShow({id:listed.shortID})">{{listed.playerName}}</a></p>
      <p>Positions: {{listed.position}}</p>
      <p>Draft Round: {{listed.round}}</p>
      <div class = "player-price">${{listed.cost}}</div>
    </div>
  </div>
</div>

<div class = "comment-section">
  <h2>New Comment</h2>

  <div data-comment-form data-comment="newComment"></div>

  <h2>Comments</h2>

  <div data-ng-repeat="comment in commentsArray[0]">
    <p><a data-ui-sref="commentShow({id: comment._id})">{{comment.comment}}</a></p>
  </div>
</div>
